@page "/calculator"

<h3 style ="color: lime;" class="fw-bold">Blazor Calculator</h3>
<hr />

<!-- TODO: Implement the calculator's GUI -->
<div>
    <span class="fw-bold">Enter First Number</span>
    <input @bind="input1" placeholder="Enter first number" style="margin-left: 43px;"/><br />
    <span class="fw-bold">Enter Second Number</span>
    <input @bind="input2" placeholder="Enter second number" style="margin-left: 20px; margin: 20px;" />
    <div>
        <span class="fw-bold">Result: @result</span>
    </div>
    <br />
    <button type="button" class="btn btn-outline-success ms-5" @onclick="Add">Add (+)</button>
    <button type="button" class="btn btn-outline-primary ms-5" @onclick="Subtract">Subtract (-)</button>
    <button type="button" class="btn btn-outline-info ms-5" @onclick="Multiply">Multiply (X)</button>
    <button type="button" class="btn btn-outline-danger ms-5" @onclick="Divide">Divide (/)</button>
    <button type="button" class="btn btn-light ms-5">Clear All</button>
</div>

@code {
    private double input1;
    private double input2;
    private double result;

    private void Add()
    {
        // TODO: Add exception handling for invalid input
        result = input1 + input2;
    }

    private void Subtract()
    {
        // TODO: Add exception handling for invalid input
        result = input1 - input2;
    }

    private void Multiply()
    {
        // TODO: Add exception handling for invalid input
        result = input1 * input2;
    }

    private void Divide()
    {
        // TODO: Add exception handling for division by zero and invalid input
        if (input2 != 0)
        {
            result = input1 / input2;
        }
        else
        {
            // TODO: Handle divide by zero exception
        }
    }
}
